.jumbotron{
    background-size: cover;
    background-image: url("../../assets/steven-roe-1045539-unsplash.jpg"); /*Photo by Olivier Miche on Unsplash*/
    padding-top: 200px;
    padding-bottom: 200px;
}

.jumbotron h1{
    color: white;
}

.jumbotron p{
    color: white;
}

.jumbotron hr{
    border: 1px solid white;
    max-width: 80%;
}