body{
    overflow-x: hidden;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.fa:hover{
    opacity: 0.8;
}

.fa-facebook{
    color: white;
}

.fa-twitter{
    color: white;
}

.fa-google{
    color: white;
}

.fa-linkedin{
    color: white;
}

.bg-clear{
    transition: all 200ms linear;
}

.bg-white{
    background-color: white;
    transition: all 200ms linear;
}

.jumbotron{
    background-size: cover;
    /* background-position: top center; */
    background-image: url("../../assets/steven-roe-1045539-unsplash.jpg"); /*Photo by Olivier Miche on Unsplash*/
    padding-top: 200px;
    padding-bottom: 200px;
}

.jumbotron h1{
    color: white;
}

.jumbotron p{
    color: white;
}

.jumbotron hr{
    border: 1px solid white;
    max-width: 80%;
}

.container{
    margin-top: 100px;
}

.row-body{
    margin-bottom: 100px;
}

.footer{
    background-color: #dc59b3;
    color: white;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-copyright{
    background-color: #852d69;
    color: white;
    text-align: center;
}

.footer-copyright p{
    margin: 10px;
    font-size: 14px;
}